{% extends "base.html" %}
{% block title %} Quizz {% endblock %}
{% block content %}

        <div class="card text-bg-light mb-3" style="max-width: 70rem;margin-left:120px;;text-align:center;margin-top:100px;">
          <div class="card-header">
              <h1 style="font-size:2.5rem;">{{ q.category }}</h1>
              <h1 style="font-size:1.5rem;">Score: {{ score }} / {{ number_of_questions }}</h1>
          </div>
          <div class="card-body">
            <h5 class="card-title"><h1 style="font-size:3rem;">{{ q.question }}</h1></h5><br>
                  {% for x in q.answers %}
                        <button class="btn btn-light"><a style="font-size:1.5rem;color:black;text-decoration:none;" href="{{ url_for('play_game',id=q.id+1,x=x) }}">{{ x }}</a></button>
                  {% endfor %}
                    <br>
                    <button class="btn btn-light"><a style="font-size:1.5rem;color:black;text-decoration:none;" href="{{ url_for('play_game',id=q.id+1,x='skipped question') }}">Skip</a></button>
          </div>
        </div>

{% endblock %}